<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css">

</head>
<body>

<div class="header">
    <div class="logo">
        <img src="static/LogoHackathon1.jpg" alt="WHOCAN Logo" width="100" height="100">
        <span class="title"><b>WHOCAN</b></span>
        <div class="schpeil">
            <span>Lets identify <b>who can</b> pass legislation on policies that matter most.</span>
        </div>
    </div>

    <div class="content">
        <h2>Type in your search criteria: &ensp; &ensp;</h2>
        <form action="/search" method="post" onsubmit="revealRoller()">
            <p>
                <label for="district">voting district:</label>
                <input type="number" placeholder="1" value="{{ district or 1 }}" required name="district" min="1"
                       max="38">
                <input class="searchbar" type="text" placeholder="Issue" value="{{ issue or "homelessness" }}" required
                       name="issue">
                <input class="submit" type="submit" value="Submit">
            </p>
            <div class="lds-roller" id="roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
            </div>
            <p><b>Examples:</b> prison reform, reducing the effects of homelessness in minority communities, race, union
                jobs, etc.</p>
        </form>
    </div>

    {% block body %}
    {% endblock %}

    <div class="footer">
        <p>Created by Andy Ealovega, Brett Csotty, and Jadyn Smith from the University of Michigan-Dearborn</p>
    </div>
</div>
</body>
<script>
    function revealRoller() {
        document.getElementById("roller").classList.remove("hidden");
    }
</script>
</html>