{% extends "home.html.jinja" %}
{% block body %}
    {% for cand, resp in results.items() %}
        <div class="statement">
            <p class="candidate">
                {{ cand }}
            </p>
            <p class="prompt">
                They said: {{ resp }}
            </p>
        </div>
    {% else %}
        <p style="margin: 40px 50px 50px 60px">
            No candidates in district!
        </p>
    {% endfor %}

{% endblock %}