* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.header {
    overflow: hidden;
    height: 120px;
    background-color: #faf3ca;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-indent: 15px;
}

.logo {
    margin-top: 10px;
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 40px;
}

/* Style the content */
.content {
    background-color: #B79DC8;
    padding-block: 2%;
    padding-left: 3%;
    padding-right: 5%;
    margin-top: 35px;
    margin-left: 40px;
    margin-right: 40px;

    border-radius: 20px;
}

/* Style the footer */
.footer {
    background-color: #faf3ca;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-left: 20px;
}

@media screen and (max-width: 810px) {
    .schpeil {
        display: none;
    }
}

.searchbar {
    width: 50%;
    font-size: medium;
}

.submit {
    width: 100px;
    font-size: medium;
}